<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header [isHandset]="(isHandset$ | async) ? 'over' : 'side'"></app-header>

    <div class="main-content">
      <div class="container-fluid">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
